<div id="cover" ng-show="ctrl.loader"></div>
<div class="loader_in_css" ng-show="ctrl.loader"><img src="images/loader.GIF"/></div>

<div class="container">
    <div class="row top_custom_nav" >
        <h2 class="pull-left padding-left">Extended Warranty</h2>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Facility Information</div>
        <div class="panel-body facilityInfoSet">
            <p><span class='facilityLabel'>Registration ID </span><b>: </b> {{ctrl.registrationId}}</p>
            <p><span class='facilityLabel'>Facility Name </span><b>: </b> {{ctrl.partnerAccountInfo._name}}</p>
            <p><span class='facilityLabel'>Facility Address </span><b>: </b> {{ctrl.partnerAccountInfo._address._street.split('.')[0] + ","}}</p>
            <p><span class='facilityLabel'></span> {{ctrl.partnerAccountInfo._address._city + ","}}</p>
            <p><span class='facilityLabel'></span> {{ctrl.partnerAccountInfo._address.region + ","}}</p>
            <p><span class='facilityLabel'></span> {{ctrl.partnerAccountInfo._address.country + ","}}</p>
            <p><span class='facilityLabel'></span> {{ctrl.partnerAccountInfo._address._postalCode + "."}}</p>
            <p><span class='facilityLabel'>Facility Phone </span><b>: </b> {{ctrl.partnerAccountInfo._phoneNumber}}</p>
            
            <p><span class='facilityLabel'>First Name </span><b>: </b> {{ctrl.partnercontactInfo._firstName}}</p>        
            <p><span class='facilityLabel'>Last Name </span><b>: </b> {{ctrl.partnercontactInfo._lastName}}</p>        
            <p><span class='facilityLabel'>Contact Email </span><b>: </b> {{ctrl.partnercontactInfo._emailAddress}}</p>        
            <p><span class='facilityLabel'>Contact Phone </span><b>: </b> {{ctrl.partnercontactInfo._phoneNumber}}</p> 

            <p><span class='facilityLabel'>Sell Date </span><b>: </b> {{ctrl.partnerSaleInfo.sellDate}}</p>        
            <p><span class='facilityLabel'>Install Date </span><b>: </b> {{ctrl.partnerSaleInfo.installDate}}</p>        
            <p><span class='facilityLabel'>Invoice Number</span><b>: </b> {{ctrl.partnerSaleInfo.invoiceNumber}}</p>
            <p><span class='facilityLabel'>Dealer Rep </span><b>: </b> {{ctrl.partnerSaleInfo.dealerRep}}</p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Purchase Details</div>
        <div class="panel-body">
            <div class="table-responsive col-sm-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="centerAlign">Serial Number</th>
                            <th>Product Description</th>
                            <th>Selected Extended Warranties</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Simple Line Items-->
                        <tr ng-repeat="asset in ctrl._EWInfo.simpleLineItems">                        
                            <td class="centerAlign">{{asset.serialNumber}}</td>
                            <td>{{asset.productLineName}}</td>
                            <td class="centerAlign">{{asset.selectedTerms}}</td>
                            <td class="rightAlign">${{asset.selectedPrice}}</td>                        
                        </tr>
                        
                        <!--Composite line Items-->
                        <tr ng-repeat="componentsList in ctrl._EWInfo.compositeLineItems">                        
                            <td>
                                <table class="table inner-table">
                                    <tr ng-repeat="asset in componentsList.components">
                                        <td class="centerAlign">
                                            {{asset.serialNumber}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table class="table inner-table">
                                    <tr ng-repeat="asset in componentsList.components">
                                        <td>
                                            {{asset.productLineName}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td rowspan="componentsList.length" class="verticalAlign centerAlign">{{componentsList.selectedTerms}}</td>
                            <td rowspan="componentsList.length" class="rightAlign verticalAlign">${{componentsList.selectedPrice}}</td>                        
                        </tr>
                        <tr class="borderNone">
                            <td colspan="4" style="text-align: right; border: none;">
                                Total : ${{ctrl._EWInfo.totalPrice}}
                            </td>
                        </tr>
                        <tr class="borderNone" ng-if="ctrl._EWInfo.discountAppliedPrice">
                            <td colspan="4" style="text-align: right; border: none;">
                                Discount Applied : ${{ctrl._EWInfo.discountAppliedPrice}}
                            </td>
                        </tr>
                        <tr class="borderNone" ng-if="ctrl._EWInfo.discountAppliedPrice">
                            <td colspan="4" style="text-align: right; border: none;">
                                After Discount : ${{ctrl._EWInfo.totalPrice - (ctrl._EWInfo.discountAppliedPrice || 0)}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Payment Details</div>
        <div class="panel-body">
            <div class="form-group formGroup">
                <label for="purchaseOrder" class="control-label col-sm-4">Purchase Order #:</label>
                <div class="col-sm-4">
                    <input type="text"
                        name="purchaseOrder"
                        id="purchaseOrder"
                        ng-model="ctrl._EWInfo.purchaseOrder"
                        class="form-control"
                        disabled
                    />
                </div>
            </div>
            <div class="form-group formGroup">
                <label class="control-label col-sm-4">Sold to Account #:</label>
                <div class="col-sm-4">
                    <input type="text"
                        name="SAPAccountNumber"
                        id="SAPAccountNumber"
                        ng-model="ctrl._EWInfo.sapAccountNumber"
                        class="form-control"
                        disabled
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="row col-sm-6">
        <a href="#/"><button type="button" class="btn btn-primary"> << Registration Logs </button></a>
    </div>
</div>